:root {
    --first-color: #000;
    --second-color: #ffffff;
    --third-color: #8f9299;
    --animation-duration: 0.3s;
}

.icon-chat-open {
    height: 47.9894px;
}

#blip-chat-icon>img {
    transition: var(--animation-duration) !important;
    height: auto !important;
    min-width: 20px;
    max-width: 70% !important;
    position: absolute;
    top: 0.73em !important;
    left: 0.50em !important;    
}


#blip-chat-icon>img.bottom {
    opacity: 0;
}

#blip-chat-open-iframe:hover>#blip-chat-icon>img.top {
    opacity: 0;
}

#blip-chat-open-iframe:hover>#blip-chat-icon>img.bottom {
    opacity: 1;
}

#blip-chat-open-iframe {
    background-color: var(--second-color) !important;
    transition: var(--animation-duration) !important;
}

#blip-chat-open-iframe:hover {
    background-color: var(--first-color) !important;
    transition: var(--animation-duration) !important;
}


#blip-chat-open-iframe{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    max-width: 60px;
    min-width: 48px;
    max-height: 60px;
    min-height: 48px;
    right: 35px;
    bottom: 35px;
    transition: transform 200ms, opacity 500ms, visibility 500ms;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 32px rgba(0, 0, 0, 0.1);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

